@media (max-width:549px) {
    .second-block{
        margin-top: 70px !important;
    }
    .container-fluid{
        padding: 10px !important;
        display: block;
    }
    .Transfer-Add {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px 0px;
    }
    .chart{
        width: 100%;
    }
    .Card{
        width: 100% !important;
    }
}
@media (min-width:550px) and (max-width:768px) {
    /* .form-1{
        order: 1;
    } 
    .banner{
        order: 2;
    } */
    #form {
        margin-left: 0px !important;
        width: 100% !important;
        height: auto !important;
    }
    .input-feild {
        width: 90% !important;
    }
    .input-group {
        margin-left: 0px !important;
        align-items: center !important;
    }
    #getaccount {
        font-size: 10px !important;
    }
    .btn-feild{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }
    .btn-feild button{
      padding: 7px 30px !important;
    }
    .second-block{
        margin-top: 70px !important;
    }
    .container-fluid{
        padding: 10px !important;
        display: block;
    }
    .Transfer-Add {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px 0px;
    }
    .chart{
        width: 100%;
    }
    .Card{
        width: 80% !important;
    }
    .section-3{
        width: 70% !important;
    }
}
@media (min-width:769px) and (max-width:992px) {
    #form {
        margin-left: 0px !important;
        width: 80% !important;
        height: auto !important;
    }
    .form-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-feild {
        width: 90% !important;
    }
    .input-group {
        margin-left: 0px !important;
        align-items: center !important;
    }
    #getaccount {
        font-size: 10px !important;
    }
    .btn-feild{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }
    .btn-feild button{
      padding: 7px 30px !important;
    }
    .second-block{
        margin-top: 70px !important;
    }
    .container-fluid{
        padding: 10px !important;
        display: block;
    }
    .Transfer-Add {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px 0px;
    }
    .chart{
        width: 100%;
    }
    .Card{
        width: 80% !important;
    }
    .section-3{
        width: 70% !important;
    }
}
@media (min-width:993px) and ( max-width:1300px) {
        .navbar-toggler{
            display: none !important;
        }
        .sidebar-list li {
            font-size: 13px !important;
        }
        .About-User{
            font-size: 13px !important;
        }
        .About-User .list {
            padding-left: 10px !important;
            text-align: justify !important;
        }
        .balance{
            font-size: 20px !important;
        }
}
@media (min-width:1301px) {

    .navbar-toggler{
            display: none !important;
        }
        .About-User .list {
            padding-left: 10px !important;
            text-align: justify !important;
        }
}
